<!DOCTYPE html>
<html>
    <head>
        <title>
            Calculate Yardage | Eric Melchior Hauling Company, Inc.
        </title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600|Roboto" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      </head>
    <body>
      <div id='welcome'>
        <div id="slogan" >
          <h2>How to Calculate Yardage</h2>
          <div class="feature">
                <p>Multiply the three dimensions of your load together (length, width, and height)
                    to find the number of cubic feet (0.5' x 12' x 12 = 72 cubic feet).<br>
                    Divide the cubic feet by 27 (the number of cubic feet in a cubic yard) to find the number of cubic yards 
                   (72 ÷ 27 = 2.67 cu. yd.).</p>
                   </div>
                   <section id="cta">
                    <a href="https://www.thecalculatorsite.com/misc/cubic-feet-calculator.php" target="_blank" class="btn yellow">Calculator</a>
                    <p>&nbsp</p>
                    <a href="/ticket" class="btn yellow">Create a Ticket</a>
                  </section>
        </div>
      </div>
          <footer id="footer">
            © 2020  Eric Melchior Hauling Company. All rights reserved.          
          </footer>
    </body>
</html>
