<!DOCTYPE html>
<html>
    <head>
        <title>
            Eric Melchior Hauling Company, Inc.
        </title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600|Roboto" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      </head>
    <body>
        <div id='welcome'>
            <div id="slogan" >
              <h1>Eric Melchior<br/> Hauling Company, Inc.</h1>
              <p><b>Office:</b> (706) 309-9926 &nbsp;&nbsp; <b>Hauling:</b> (706) 589-1552 &nbsp;&nbsp; <b>Landfill:</b> (706) 589-1561</p><br>
              <a href="/ticket" class="btn yellow">Create a Landfill Ticket</a>
            </div>
          </div>
          
          <section id="features">
            <div class="container">
              <div class="feature">
                <h4>About EMHC</h4>
                <p>We are a family owned and operated company that has been serving Augusta and surrounding area for over 30 years.</p><p>Our business is multifaceted - We offer hauling, landfill, and sawmill services.</p>
              </div>
          
              <div class="feature">
                <h4>Contact Our Office</h4>
                <p>If you would like to inquire about a service we offer, contact us. <br><br><b>Office: (706) 309-9926</b></br></p>
              </div>
          
              <div class="feature">
                <h4>New - Landfill E-Tickets</h4>
                <p>If you are customer of our landfill and would like to create a digital ticket rather than filling one out on site, you now have the ability to do so.</p><p>Click the yellow button above to get started. </p>
                <!-- <section id="cta">
                    <a href="/ticket.html" class="btn yellow">Create a Ticket</a>
                </section> -->
              </div>
            </div>
          </section>
          
          <footer id="footer">
          
            © 2020  Eric Melchior Hauling Company. All rights reserved.
          
          </footer>
    </body>
</html>
