<!DOCTYPE html>
<html>
    <head>
        <title>
            Eric Melchior Hauling Company, Inc.
        </title>
        <style>
            table {
                border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif;
            }

            td {
                border: 1px black solid;
                padding: 5px;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600|Roboto" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

      </head>
    <body>
        <script src="static/d3.v3.min.js"></script>

        <script type="text/javascript"charset="utf-8">
            d3.text("database.csv", function(data) {
                var parsedCSV = d3.csv.parseRows(data);

                var container = d3.select("body")
                    .append("table")

                    .selectAll("tr")
                        .data(parsedCSV).enter()
                        .append("tr")

                    .selectAll("td")
                        .data(function(d) { return d; }).enter()
                        .append("td")
                        .text(function(d) { return d; });
            });
        </script>
    </body>
</html>
