<!DOCTYPE html>
<html>
    <head>
        <title>
            Eric Melchior Hauling Company, Inc.
        </title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600|Roboto" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      </head>
    <body>
        <div id='welcome'>
          <div id="slogan">
            <h2>Ticket Submitted - A copy has been emailed to you.<br><br> Thank you for your business</h2>
            <p>If you need assistance please call our <b>Office</b> at (706) 309-9926</p><br>
            <a href="/ticket.html" class="btn yellow">Create a New Ticket</a>
          </div>
        </div> 
          <footer id="footer">
          
            © 2020  Eric Melchior Hauling Company. All rights reserved.
          
          </footer>
    </body>
</html>
