<!DOCTYPE html>
<html>
    <head>
        <title>Ticket Form | Eric Melchior Hauling Company, Inc.</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twi tter-bootstrap/4.0.0/css/bootstrap-reboot.min.css">        
        <link rel="stylesheet" type="text/css" href="static/ticket_style.css">
        <link rel="stylesheet" type="text/css" href="static/esignature.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
    </head>
    <body>
        <form action="/" class="ym-form">
            <div class="ym-fbox">
              <input type="text" id="textinput-1" class="placeholderanimation" />
              <label for="textinput-1" class="animatedlabel">Title</label>
          </div>
            <div class="ym-fbox ym-g50 ym-gl">
              <input type="text" id="textinput-2" class="placeholderanimation" />
              <label for="textinput-2" class="animatedlabel">Price</label>
          </div>
            <div class="ym-fbox ym-g50 ym-gr">
              <input type="text" id="textinput-3" class="placeholderanimation" />
              <label for="textinput-3" class="animatedlabel">Specific location (optional)</label>
          </div>
            <div class="ym-fbox clearme">
              <textarea name="comment" id="textinput-4" class="placeholderanimation"></textarea>
              <label for="textinput-4" class="animatedlabel">Description</label>
          </div>
            <div class="ym-fbox">
              <button class="ym-button">Send me</button>
          </div>
      </form>
      
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="static/ticket_script.js"></script>
        <script src="static/esignature.js"></script>
    </body>
</html>